@import "bootstrap-sprockets";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family-sans-serif: 'Open Sans', sans-serif;
$tiara-color: #cdd7d6;
$btn-default-bg: $tiara-color;
$navbar-default-bg: $tiara-color;

@import "bootstrap";
@import "font-awesome";
